header{ position: absolute; left: 0; right: 0; top: 0; z-index: 1000; font-size: .95em; 
  box-shadow: 0px 2px 10px rgba(0,0,0, .3); background: #fff; }


/* TOP MENU */

.center-text{ text-align: center; } 


header .top-menu{ width: 100%; height: 45px; line-height: 45px; overflow: hidden; font-size: .95em; font-style: italic; }


header .top-menu ul.welcome-area{ padding-left: 20px; }

header .top-menu ul.welcome-area > li{ margin: 0 15px; padding: 0 15px; border-left: 1px solid #ddd; }


header .top-menu ul > li:first-child{ border-left: 0; }

header .top-menu ul.social-icons{ display: inline-block; padding: 0 35px; color: #aaa; }

header .top-menu ul.social-icons > li > a{ padding: 0 15px; }



/* SEARCH AREA */

header .src-area{ position: relative; float: left; height: 45px; width: 250px; display: inline-block; 
  border-left: 1px solid #ddd; border-right: 1px solid #ddd; background: #fff; }

header .src-area .src-input{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%;
  padding: 0 40px 0 20px; background: transparent; border: 0; outline: 0; }

header .src-area .src-input:focus{ box-shadow: 0px 0px 1px #aaa; }

header .src-area .src-btn{ position: absolute; top: 0; bottom: 0; right: 0; width: 40px; font-size: 1.2em; 
  opacity: .6; z-index: 10; }

  
  
/* MIDDLE AREA */

header .middle-menu{ border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;  }

header .logo{ padding: 30px 0; height: 160px; }

header .logo img{ height: 100%; width: auto; }


/* BOTTOM AREA */

header .bottom-area{ text-align: center; }

header .main-menu{ font-weight: 500; }

header .main-menu > li > a{ height: 60px; line-height: 60px; padding: 0 25px; }

header .main-menu > li > a:hover{ background: #eee; }


header .visible.main-menu{ display: block; }



/* DROPDOWN MENU STYLING */

header .main-menu li.drop-down{ position: relative; text-align: left; }

header .main-menu li.drop-down > ul.drop-down-menu{ display: none; position: absolute; top: 60px; left: 0; 
  min-width: 200px; box-shadow: 0px 3px 10px rgba(0,0,0,.3); background: #fff; }

header .main-menu li.drop-down > ul.drop-down-menu li{ display: block; border-top: 1px solid #ddd; }

header .main-menu li.drop-down > ul.drop-down-menu li > a{ display: block; padding: 12.5px 20px; }

header .main-menu li.drop-down > ul.drop-down-inner li:first-child{ border-top: 0; }

header .main-menu li i{margin-left: 10px; }



/* DROPDOWN SUBMENU */

header .main-menu li.drop-down > ul.drop-down-inner{ top: 0; left: auto; left: 100%; }



/* DROPDOWN HOVER */

header .main-menu li a.mouseover{ background: #F2F3F4; }

header .main-menu li.drop-down a.mouseover + ul.drop-down-menu{ display: block; 
  animation: full-opacity-anim .2s forwards; }

.menu-nav-icon{ display: none; height: 60px; width: 50px; text-align: center; line-height: 60px; cursor: pointer; 
  font-size: 1.8em; }

.src-area{ line-height: 50px; position: relative;  }

.src-area input{ display: block; width: 100%; padding: 0 50px 0 20px; border: 0; outline: 0; 
  border-bottom: 1px solid #bbb;  }

.src-area .src-btn{ position: absolute; top: 0; right: 20px; height: 50px; }




@media only screen and (max-width: 992px) {
  
  /* ---------------------------------
  1. PRIMARY STYLES
  --------------------------------- */

  h1{ font-size: 4em; }
  h2{ font-size: 3em; }
  h3{ font-size: 2em; }
  
  /* ---------------------------------
  3. MENU
  --------------------------------- */
  
  header .top-menu ul.welcome-area{ padding: 0; }
  
  header .top-menu ul.welcome-area > li{ border: 0; }
  
  header .top-menu .hello-blog{ display: none; }
  
}

@media only screen and (max-width: 767px) {
  
  /* ---------------------------------
  1. PRIMARY STYLES
  --------------------------------- */

  p{ line-height: 1.4; }

  h1{ font-size: 3em; }
  h2{ font-size: 2.5em; }
  h3{ font-size: 1.8em; }
  h4{ font-size: 1.5em; }
  h5{ font-size: 1.2em; }
  
  /* ---------------------------------
  2. COMMONS FOR PAGE DESIGN
  --------------------------------- */

  .section{ padding: 40px 0 10px; }

  .menu-nav-icon{ display: inline-block; }


  

  /* ---------------------------------
  3. MENU
  --------------------------------- */
  
  header .top-menu ul.welcome-area{ display: none; }
  
  
  /* SEARCH AREA */
  
  header .right-area{ float: none; }
  
  header .src-area{ float: none; border: 0; }
  
  
  /* TOP MENU */
  
  header .top-menu ul.social-icons{ display: none; }
  
  /* MIDDLE AREA */

  header .logo{ padding: 10px 0; height: 100px; }


  /* BOTTOM AREA */
  
  header .main-menu{ text-align: left; display: none; float: none; clear: both; max-height: 400px;
    overflow: auto; border-top: 1px solid #ccc; }
  
  header .main-menu > li{ display: block; float: none; border-bottom: 1px solid #ddd; }
  
  header .main-menu > li:last-child{ border-bottom: 0; }
  
  header .main-menu li > a{ display: block; line-height: 1; height: auto; padding: 15px; background: none; }
  
  header .main-menu li.drop-down > ul.drop-down-menu{ position: static; box-shadow: none; }
  
  header .main-menu li.drop-down > ul.drop-down-menu li a{ padding-left: 25px; }
  
  header .main-menu li.drop-down > ul.drop-down-inner li a{ padding-left: 35px; }
  
  

  header .src-area{ width: 100%; }

  
  
}

@media only screen and (max-width: 479px) {

  /* ---------------------------------
  1. PRIMARY STYLES
  --------------------------------- */

  body{ font-size: 14px;  }
  
  /* ---------------------------------
  2. COMMONS FOR PAGE DESIGN
  --------------------------------- */

  .left-area,
  .right-area{ float: none;  }

  .width-60,
  .width-50{ width: 100%; }

  .left-area li a,
  .right-area li a{ padding: 0 10px 0 0!important; }
  
  /* ---------------------------------
  5. SINGLE POST
  --------------------------------- */
  
  .single-post .icons ul.social-icons{ margin-top: 10px; }


}

